page-home {
    .display{
        height: 100px;
        background-color: black;
        border-radius: 10px;
    }
    #old-results{
        height: 70px;
    }
    .button{
        height: 3.5em !important;
    }
}
